@charset "utf-8";

@import url('font.css');
 
/* reset */
*, :after, :before {background-repeat:no-repeat;box-sizing:border-box}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;tab-size:4}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, sub, sup, tt, var,  u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; }
ol, ul{list-style:none; }
blockquote, q{quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none; }
table{border-collapse:collapse; border-spacing:0; }
img, picture, video, canvas, svg {max-width:100%;height: auto;vertical-align:top;}
a{background-color:transparent;text-decoration:none; color:inherit;}
a:active, a:hover{outline:0; }
[hidden], template{display:none; }
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup{top:-0.5em; }
sub{bottom:-0.25em; }
small{font-size:80%; }
code, kbd, pre, samp{font-family:monospace, monospace; font-size:1em; }
button, input, optgroup, select, textarea{color:inherit; font:inherit;  margin:0;-webkit-border-radius:0;border-radius:0;border:0}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{/*-webkit-appearance:button;*/cursor:pointer;padding:0;background:transparent;}
button[disabled],
html input[disabled]{cursor:default; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none; }
input[type="search"]{/*-webkit-appearance:textfield;*/box-sizing:content-box; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto; }
input[type="checkbox"], input[type="radio"]{box-sizing:border-box; padding:0; }
input{line-height:normal; }
textarea {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}

html{font-size:62.5%;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;-ms-overflow-style: none;scrollbar-width:none;height:100%}
body{height:100vh;font-size:1.6rem; font-family:'Pretendard', sans-serif; line-height:1.5;-webkit-font-smoothing:antialiased;word-wrap: break-word;word-break: keep-all;-webkit-overflow-scrolling: touch;letter-spacing:-0.75px;background:#101116;color: #333;}
.container{position:relative;max-width:375px;height: 812px;min-height: 812px;background-color:#fff;margin:0 auto;overflow-y:scroll;overflow-x:hidden;-ms-overflow-style:none;scrollbar-width:none;}
/* .container{position:relative;max-width:375px;height:100vh;background-color:#fff;margin:0;transform: translateX(-50%);left:50%;} */
.scroll::-webkit-scrollbar {display: none;}
.scroll {-ms-overflow-style: none;scrollbar-width: none;}

/* 하단 메인 네비게이션 */
.bottom_nav{position:sticky;bottom: 0;;max-width:375px;height:102px;background:#fff;border-radius: 20px 20px 0 0;border-top:1px solid #e1e3ea; z-index: 100;box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);}
.bottom_nav.type2 {position:sticky;bottom:0;width:100%;height:98px;border-radius:32px 32px 0 0;box-shadow:none}
.bottom_nav .nav_wrap {position:relative}
.bottom_nav .nav_wrap:after {content:'';display:block;width:100%;height:34px;background:url(../images/bottom_bar.png) no-repeat center bottom;background-size:100% 34px}
.bottom_nav .nav_wrap img {vertical-align:top}
.bottom_nav .nav_wrap a {position:absolute;display:block;top:0;width:65px;height:65px}
.bottom_nav .nav_wrap a.go1 {left:15px}
.bottom_nav .nav_wrap a.go2 {left:82px}
.bottom_nav .nav_wrap a.go3 {left:148px}
.bottom_nav .nav_wrap a.go4 {left:214px}


.bottom_nav ul {position: absolute;bottom: 0;display: flex;justify-content: space-around;height: 90px;width: 100%;align-items: flex-start; padding-top: 13px;}
.bottom_nav ul li {width: 75px;text-align: center; }
.bottom_nav ul li a{display: flex;width: 100%;height: 100%;flex-direction: column;align-items: center;}
.bottom_nav ul li a i {display: block;width: 24px; height: 24px; background-size: 100% auto;}
.bottom_nav ul li a span{color: #D8D8D8; font-size: 13px; font-weight: 600; margin-top: 4px;}
.bottom_nav ul li a i.on + span{color: #1654D1}
.bottom_nav ul li a i.home{ background: url(../images/A/nav/home.png) no-repeat center / contain;}
.bottom_nav ul li a i.home.on{ background: url(../images/A/nav/home_on.png) no-repeat center / contain;  }
.bottom_nav ul li a i.asset{ background: url(../images/A/nav/asset.png) no-repeat center / contain;}
.bottom_nav ul li a i.asset.on{ background: url(../images/A/nav/asset_on.png) no-repeat center / contain;}
.bottom_nav ul li a i.goods{ background: url(../images/A/nav/goods.png) no-repeat center / contain; }
.bottom_nav ul li a i.goods.on{ background: url(../images/A/nav/goods_on.png) no-repeat center / contain;}
.bottom_nav ul li a i.benefit{ background: url(../images/A/nav/benefit.png) no-repeat center / contain;}
.bottom_nav ul li a i.benefit.on{ background: url(../images/A/nav/benefit_on.png) no-repeat center / contain;}
.bottom_nav ul li a i.invest{background: url(../images/A/nav/invest.png) no-repeat center / contain;}
.bottom_nav ul li a i.invest.on{background: url(../images/A/nav/invest.png) no-repeat center / contain;}

/* animation, 탭 */
.interaction{position: relative; top: 50px; opacity: 0; display: block; transition: all .6s ease-in-out;}
.interaction.on{animation: interaction 1s ease-in-out ;opacity: 1; top: 0;}
.tab-panel{display: none;}
.tab-panel.active{display: block;}

header {position:fixed;z-index:50;width:375px}
.top_menu {position:fixed;top:43px;z-index:50;width:375px}
.top_menu img {width:100%}
.contents {padding-top:96px}
.container.type.dark header {background:#101116}
.container.type.dark .top_menu {background:#101116}
.container.type.dark .contents {padding-top:100px}
.container.type.dark {background:#101116}


